* {
    margin: 0;
    padding: 0;
}

body {
    height: auto;
    width: auto;
    background-image: url(../img/Background.jpg);
}

#block_reg {
    border: 2px solid black;
    height: 400px;
    width: 600px;
    margin: 100px auto;
    background-color: ghostwhite;
    border-radius: 7px;
}

#registration {
    font-family: fantasy sans-serif;
}

.font_style {
    font-family: Fixed, monospace;
}

.input_login {
    widows: 560px;
    height: 50px;
    border: 2px solid black;
    padding: 0 20px;
    margin: 20px;
    background-color: ghostwhite;
    font-size: 17px;
}

.button_auth {
    float: left;
    height: 30px;
    width: 200px;

    margin-left: 20%;
}

.button_reg {
    float: right;
    height: 30px;
    width: 200px;
    margin: 50px;
    margin-right: 30%;
}

#footer {
    bottom: 0;
    left: 0;
    border: 2px solid silver;
    width: 100%;
    height: 50px;
    background-color: ghostwhite;
}

a {
    text-decoration: none;
    font-size: 1.5em;
    font-family: Fixed, monospace;
}